<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ticket system</display-name>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>com.dbDesign.web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderTicketUIServlet</servlet-name>
    <servlet-class>com.dbDesign.web.UI.OrderTicketUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GuestInfoUIServlet</servlet-name>
    <servlet-class>com.dbDesign.web.UI.GuestInfoUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminInfoUIServlet</servlet-name>
    <servlet-class>com.dbDesign.web.UI.AdminInfoUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.LogoutServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckTicketServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.CheckTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderTicketServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.OrderTicketServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>GuestInfoServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.GuestInfoServlet</servlet-class>
  </servlet>
     <servlet>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>com.dbDesign.web.controller.AdminInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderTicketUIServlet</servlet-name>
    <url-pattern>/servlet/OrderTicketUIServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>GuestInfoUIServlet</servlet-name>
    <url-pattern>/servlet/GuestInfoUIServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AdminInfoUIServlet</servlet-name>
    <url-pattern>/servlet/AdminInfoUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckTicketServlet</servlet-name>
    <url-pattern>/servlet/CheckTicketServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>OrderTicketServlet</servlet-name>
    <url-pattern>/servlet/OrderTicketServlet</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>GuestInfoServlet</servlet-name>
    <url-pattern>/servlet/GuestInfoServlet</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/servlet/AdminInfoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.dbDesign.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>